:root {
    --primary-BrightRed: hsl(12, 88%, 59%);
    --primary-DarkBlue: hsl(228, 39%, 23%);
    --Neutral-DarkGrayishBlue: hsl(227, 12%, 61%);
    --Neutral-VeryDarkBlue: hsl(233, 12%, 13%);
    --Neutral-VeryPaleRed: hsl(13, 100%, 96%);
    --Neutral-VaryLightGray: hsl(0, 0%, 98%);
}
