@import "./colors";
@import "./normlize";

.container {
    padding: {
        left: 15px;
        right: 15px;
    }
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    @media (min-width: 576px) {
        width: 540px;
    }
    @media (min-width: 768px) {
        width: 720px;
    }
    @media (min-width: 992px) {
        width: 960px;
    }
    @media (min-width: 1200px) {
        width: 1140px;
    }
    @media (min-width: 1400px) {
        width: 1320px;
    }
}

.splide__pagination {
    bottom: -30px;
    button {
        background: var(--Neutral-VaryLightGray);
        border: 1px solid var(--primary-BrightRed);
        &.is-active {
            z-index: 1;
            background-color: var(--primary-BrightRed);
            transform: scale(1);
        }
    }
    @media (min-width: 768px) {
        display: none;
    }
}
